@tailwind base;
@tailwind components;
@tailwind utilities;

.boxBg {
    background: #ecf0f3;
}

.boxShadow {
    box-shadow: 10px 10px 10px #c0c0c0c3, -10px -10px 10px #ffffffae;
}

.innerBoxShadow {
    box-shadow: inset 10px 10px 10px #c0c0c04b, inset -10px -10px 10px #ffffffb6;
}

.buttonShadow {
    box-shadow: 6px 6px 12px #cecece, -6px -6px 12px #ffffff;
}
