@tailwind base;
@tailwind components;
@tailwind utilities;

.boxBg {
    background: #ecf0f3;
}

.boxShadow {
    box-shadow: 5px 5px 10px #b0b3b5, -5px -5px 10px #ffffff87;
}

.innerBoxShadow {
    box-shadow: inset 5px 5px 9px #d9dde0, inset -5px -5px 9px #ffffff;
}
